parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/DataFixtures/*
    ignoreErrors:
        - '#Property .+::\$id \(int\|null\) is never assigned int#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::#'
